/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf');
}

/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Generales */

html {
    font-size: 22px;
}

@media (max-width: 960px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: "Avenir", sans-serif;
    color: #67666e;
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}


/* Header */

header {
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: white;
    transition: 400ms all ease-in;
}

header.transparent {
    background-color: transparent;
}

header img {
    height: 60px;
    width: auto;
}

header nav a {
    font-size: 1.1rem;
    margin-left: 1em;
    transition: all 300ms ease-in-out;
}

header.transparent nav a {
    color: rgba(255, 255, 255, 0.8);
}

header nav a.active,
header nav a:hover {
    color: #a97c50;
    font-weight: bold;
}

header.transparent nav a.active,
header.transparent nav a:hover {
    color: white;
}

/* Menú lateral */

#burger {
    position: fixed;
    top: 1.7rem;
    left: 1rem;
    z-index: 3;
    cursor: pointer;
    display: none
}

#burger .bar {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: 400ms all ease-in;
}

#burger.open .bar {
    background-color: white;
}

#burger.open .bar.top {
    transform: translateY(8px) rotateZ(45deg);
}

#burger.open .bar.center {
    width: 0;
}

#burger.open .bar.bottom {
    transform: translateY(-8px) rotateZ(-45deg);
}

aside {
    position: fixed;
    top: 0;
    left: -360px;
    z-index: 2;
    width: 360px;
    height: 100vh;
    background-color: #424242;
    padding-top: 60px;
    transition: all 700ms ease-in-out;
}

aside.open {
    left: 0;
}

aside nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

aside nav a {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.80);
    transition: all 300ms ease-in-out;
    padding: 0.5rem 0;
}

aside nav a:hover,
aside nav a.active {
    font-weight: bold;
    color: white;
}

@media (max-width: 640px) {
    #burger {
        display: block;
    }

    header {
        justify-content: flex-end;
    }

    header nav {
        display: none;
    }
}

/* Hero */

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    12% {
        opacity: 1;
    }

    25% {
        transform: scale(1.2);
    }

    75% {
        opacity: 0
    }

    100% {
        opacity: 0;
    }
}

.hero {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
}

.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: heroAnimation 18s infinite;
}

.hero div:nth-child(1) {
    background-image: url('../img/front1.jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/front3.jpg');
    animation-delay: 12s;
}

.hero .hero-logo {
    width: 30%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: none;
}

.hero .hero-down {
    width: 5%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: none;
}

@media (max-width: 960px) {
    .hero .hero-logo {
        width: 50%;
    }
    .hero .hero-down {
        width: 10%;
    }
}

@media (max-width: 720px) {
    .hero .hero-logo {
        width: 65%;
    }
    .hero .hero-down {
        width: 15%;
    }
}

@media (max-width: 440px) {
    .hero .hero-logo {
        width: 80%;
    }
    .hero .hero-down {
        width: 20%;
    }
}

/* Layout */

.row {
    display: flex;
    padding: 1rem;
}

.row.after-hero {
    margin-top: calc(100vh - 80px) ;
}

.row.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 1.5rem;
    justify-content: center;
}

#after-hero {
    display: block;
    margin-top: -80px;
    padding-bottom: 80px;
}

.col-100 {
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-75 {
    width: 75%;
    padding: 0.5rem 1rem;
}

.col-66 {
    width: 66.6666%;
    padding: 0.5rem 1rem;
}

.col-50 {
    width: 50%;
    padding: 0.5rem 1rem;
}

.col-33 {
    width: 33.333%;
    padding: 0.5rem 1rem;
}

.col-25 {
    width: 25%;
    padding: 0.5rem 1rem;
}

@media (max-width: 760px) {
    
    .row {
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25 {
        width: 100%;
        padding: 0.5rem 1rem;
    }
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.j-start {
    justify-content: flex-start;
}

.j-end {
    justify-content: flex-end;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-end {
    align-items: flex-end;
}

.a-center {
    align-items: center;
}

.m-t {
    margin-top: 1rem;
}

.m-b {
    margin-bottom: 1rem;
}

.m-l {
    margin-left: 1rem;
}

.m-r {
    margin-right: 1rem;
}

.m-t-small {
    margin-top: 0.5rem;
}

.m-b-small {
    margin-bottom: 0.5rem;
}

.m-l-small {
    margin-left: 0.5rem;
}

.m-r-small {
    margin-right: 0.5rem;
}

/* Componentes */

/* Caja de navegación */

.nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.nav-box img {
    width: 30%;
    height: auto;
}

.nav-box a {
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border: 1px solid #a97c50;
    color: #a97c50;
    margin-top: 1rem;
    transition: all 400ms ease-in-out;
}

.nav-box a:hover {
    color: white;
    background-color: #a97c50;
}

/* Formulario */

form {
    width: 100%;
    margin: 0 auto;
}

input {
    border: none;
    border-bottom: 1.5px solid #a97c50;
    font-size: 1rem;
    padding: 0.5em 1em 0.5em 1.7em;
    width: 100%;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-position: 4px 10px;
    transition: 400ms all ease-in-out;
}

input::placeholder {
    font-size: 0.9rem;
    font-family: "Avenir", sans-serif;
}

input:focus {
    outline: none;
    border-bottom: 1.5px solid #7e5328;
}

input.user {
    background-image: url('../img/user.svg');
}

input.email {
    background-image: url('../img/mail-bronce.svg');
}

button {
    font-size: 0.8rem;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border: 1px solid #a97c50;
    background-color: #a97c50;
    color: white;
    transition: all 400ms ease-in-out;
}

button:hover {
    background-color: #775431;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::before {
    content: url('../img/square.svg');
    position: relative;
    top: 7px;
    margin-right: 5px;
}

input[type="checkbox"]:checked + label::before {
    content: url('../img/check-square.svg');
    position: relative;
    top: 7px;
    margin-right: 5px;
}

label {
    font-size: 0.8rem;
}

/* Footer */

footer {
    display: flex;
    padding: 1rem;
    background-color: #424242;
}

footer p {
    font-size: 0.9rem;
    color: white;
}

footer p:first-child {
    font-weight: bold;
    color: #a97c50;
}

footer img.rrss {
    height: 48px;
    width: auto;
}

footer a {
    color: rgba(255, 255, 255, 0.8);
    transition: 300ms all ease-in-out;
}

footer a:hover {
    color: white;
}

@media (max-width: 760px) {
    
    footer {
        flex-direction: column;
        padding: 1rem 0.5rem;
    }
}

/* Cards */

.card {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px grey;
    overflow: hidden;
}

.card .pic-card {
    height: 300px;
    width: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 300px;
}

.card .footer-card {
    height: 175px;
    width: 360px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card .footer-card p {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.card .footer-card p:first-child {
    font-weight: bold;
}

.card .footer-card a {
    font-size: 0.8rem;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border: 1px solid #a97c50;
    background-color: #a97c50;
    color: white;
    transition: all 400ms ease-in-out;
    align-self: center;
}

.card .footer-card a:hover {
    background-color: #775431;
}